.header {
	padding: 28px 0px 19px 0px;
	background: radial-gradient(696.2% 730.65% at 47.6% 26.27%, #181a19 0%, #24282b 68.62%);
	box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.15);
	width: 100%;
	margin-bottom: 3.4375rem;
	&__inner {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__logo {
		width: 157px;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		margin-right: 15px;
	}

	&__logo-img {
		position: relative;
		z-index: 1001;
	}

	&__logo-text {
		margin-top: 0.5rem;
		display: block;
		font-weight: 400;
		font-size: 12px;
		line-height: 14px;
		letter-spacing: 0.1px;
		color: var(--blueColor);
		white-space: nowrap;
	}
}

.menu {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;

	&__body {
		margin-right: 1.6875rem;
	}
	&__list {
		display: flex;
		gap: 2.25rem;
		align-items: center;
		justify-content: center;
	}

	&__item {
		position: relative;
	}

	&__link {
		font-weight: 400;
		font-size: 18px;
		line-height: 21px;
		text-align: center;
		color: #ffffff;
		white-space: nowrap;
		transition: all 0.3s ease 0s;
		&:hover {
			color: var(--blueColor);
		}
	}

	&___btn {
		font-weight: 400;
		font-size: 18px;
		line-height: 21px;
		text-align: center;
		color: #ffffff;
		white-space: nowrap;
		transition: all 0.3s ease 0s;
		padding-bottom: 10px;
		&:hover {
			color: var(--blueColor);
		}
		background-color: transparent;
	}
	&__arrow {
		display: block;
		background-image: url("../img/arrow.svg");
		background-repeat: no-repeat;
		width: 7px;
		height: 7px;
		margin-left: 7px;
		transition: transform 0.5s ease;
		transform: rotate(180deg);
		&._active {
			transform: rotate(0deg);
		}
	}

	&__list > li {
		display: flex;
		align-items: center;
	}

	@media (min-width: 1800px) {
		.menu__form {
			display: flex;
			width: 40%;
		}
	}

	.menu__form {
		display: flex;
		width: 35%;
	}

	&__search {
		position: relative;
		top: 5px;
		left: -65px;
		background-color: transparent;
		width: 50px;
		height: 50px;
	}

	&__input {
		background: #1b1e1e;
		border: 2px solid #252a2c;
		border-radius: 93px;
		padding: 20px 80px 20px 30px;
		width: 100%;
		&::placeholder {
			font-weight: 400;
			font-size: 1.125rem;
			line-height: 21px;
			color: #6d7a7c;
		}
		font-size: 0.9375rem;
		color: #fff;
	}

	&__icons {
		display: none;
		overflow: hidden;
	}
}

.dropdown-item {
	padding-top: 15px;
	padding-bottom: 15px;
}

.menu__sub-list {
	position: absolute;
	top: 100%;
	left: 20px;
	background: rgba(28, 29, 31, 0.5);
	border: 1px solid #2b2b2b;
	box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.25);
	border-radius: 0px 5px 5px 5px;
	z-index: 100;
	min-width: 213px;
	padding: 10px 10px 10px 20px;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
	&._active {
		opacity: 1;
		visibility: visible;
	}
}

.menu__sub-list > li {
	margin-bottom: 10px;
	&:last-child {
		margin-bottom: 0px;
	}
}

/*------------------------ BURGER MENU -------------------------------*/

@media (max-width: 1331px) {
	.menu__box-icon {
		z-index: 1000;
		display: block;
		position: relative;
		width: 20px;
		height: 16px;
		cursor: pointer;
		top: 10px;
		left: 6px;
	}
	.menu__icon {
		z-index: 1000;
		width: 36px;
		height: 36px;
		background-color: #81becb;
		border-radius: 5px;
	}

	.menu__box-icon span,
	.menu__box-icon::before,
	.menu__box-icon::after {
		right: 0;
		position: absolute;
		height: 2px;
		width: 20px;
		transition: all 0.3s ease 0s;
		background-color: #fff;
	}

	.menu__box-icon::before,
	.menu__box-icon::after {
		content: "";
	}

	.menu__box-icon::before {
		top: 0;
	}
	.menu__box-icon.menu__box-icon::after {
		bottom: 0;
	}

	.menu__box-icon span {
		top: 50%;
		transform: scale(1) translate(0px, -50%);
		width: 13px;
	}

	.menu__box-icon._active span {
		transform: scale(0) translate(0px, -50%);
	}

	.menu__box-icon._active::before {
		top: 50%;
		transform: rotate(-45deg) translate(0px, -50%);
	}
	.menu__box-icon._active::after {
		bottom: 50%;
		transform: rotate(45deg) translate(0px, 50%);
	}

	.menu__body {
		position: fixed;
		top: 0;
		left: -300%;
		width: 100%;
		height: 100%;
		background: rgba(16, 17, 18, 0.9);
		border: 1px solid #2b2b2b;
		box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.25);
		padding: 30px 30px 30px 30px;
		transition: left 0.5s ease 0s;
		overflow: auto;
		z-index: 1000;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.menu__body._active {
		left: 0;
	}

	.menu__list {
		flex-direction: column;
		margin-bottom: 30px;
	}

	.menu__icons {
		border-top: 1px solid #4a4a4a;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.9375rem;
		width: 100%;
		padding-top: 15px;
	}
}
//------------------- MEDIA ------------------------------//

@media (max-width: 1700px) {
	.menu__list {
		gap: 1.8rem;
	}
}

@media (max-width: 1331px) {
	.menu {
		justify-content: flex-end;
	}

	.menu__form {
		width: 100% !important;
	}
	.header__logo-text {
		display: none;
		overflow: hidden;
		visibility: hidden;
	}
}

@media (max-width: 521px) {
	.menu__form {
		justify-content: flex-end;
		align-items: center;
	}

	.menu__input {
		display: none;
	}

	.menu__search {
		top: 0;
		left: 0;
		margin-right: 10px;
	}

	.menu__form._active-form {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(16, 17, 18, 0.9);
		border: 1px solid #2b2b2b;
		box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.25);
		padding: 30px 30px 30px 30px;
		transition: left 0.5s ease 0s;
		overflow: auto;
		z-index: 2000;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}

@media (max-width: 435px) {
	.menu__sub-list {
		left: -80px;
	}
}
