.main {
	max-width: 100%;
}

.slider {
	width: 100%;
	padding-bottom: 90px;
	&__title {
		padding: 65px 0px 0px 108px;
		font-family: "Philosopher";
		font-style: normal;
		font-weight: 700;
		font-size: 4.0625rem;
		line-height: 102.5%;
		color: #ffffff;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
		max-width: 300px;
	}

	&__init {
		display: flex;
	}

	&__container {
		max-width: 1371px;
		margin: 0 auto;
	}

	&__slide {
		width: 100%;
		background-image: url("../img/big-img.png");
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 448px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}

	&__text {
		margin-left: 1.25rem;
		margin-top: 2.5rem;
		font-weight: 400;
		font-size: 1.25rem;
		line-height: 23px;
		color: #ffffff;
		max-width: 1343px;
	}
}

.breadcrumbs {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 1.875rem 1.25rem 1.25rem 2.375rem;
	color: #dbdbdb;
	a {
		font-weight: 400;
		font-size: 1.125rem;
		line-height: 1.3125rem;
		color: #dbdbdb;
		margin: 0px 5px;
		&:first-child {
			padding-left: 0px;
		}
	}

	&__best {
		font-weight: 500;
		color: #ffffff;
	}
}

.slider__init .swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
	bottom: 50px;
}
.slider__init .swiper-pagination-bullet {
	width: 9px;
	height: 9px;
	font-size: 0;
	line-height: 0;
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 50%;
}

.slider__init .swiper-pagination-bullet-active {
	width: 9px;
	height: 9px;
	font-size: 0;
	line-height: 0;
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 50%;
}

//-------------------- BEST FILMS --------------------//

.best-films {
	margin-bottom: 5.125rem;
	&__box-image {
		position: relative;
		&:hover {
			&::before {
				content: "";
				position: absolute;
				background-image: url("../img/button.svg");
				background-repeat: no-repeat;
				top: 42%;
				left: 42%;
				width: 64px;
				height: 73px;
				z-index: 11;
			}
		}
	}

	&__img {
		position: relative;
		display: inline-block;
		z-index: 9;
	}

	&__rating-top,
	&__rating-bottom {
		position: absolute;
		z-index: 10;
	}

	&__rating-top {
		top: 15px;
		left: 17px;
	}

	&__rating-bottom {
		top: 55px;
		left: 17px;
	}

	&__title {
		margin-bottom: 1.875rem;
	}

	&__slider {
		padding-top: 1.875rem;
		border-top: 1px solid #81becb;
	}

	&__info {
		padding-left: 1.1875rem;
	}

	&__sub-title {
		margin-bottom: 0.625rem;
		font-weight: 500;
		font-size: 1.375rem;
		line-height: 26px;
		color: #ffffff;
	}

	&__text {
		font-weight: 400;
		font-size: 1.25rem;
		line-height: 23px;
		color: #ffffff;
	}
}

.best-films__slider .swiper-button-prev {
	position: absolute;
	background-image: url("../img/arrow-slider.svg");
	background-position: center;
	width: 50px;
	height: 50px;
	top: 41%;
	left: -10px;
	z-index: 100;
}

.best-films__slider .swiper-button-next {
	position: absolute;
	background-image: url("../img/arrow-slider.svg");
	background-position: center;
	width: 50px;
	height: 50px;
	top: 40%;
	left: 1320px;
	z-index: 100;
	transform: rotate(180deg);
}

//------------------------ ASIDE -----------------------//



.title-aside {
	font-weight: 500;
	font-size: 22px;
	line-height: 26px;
	text-transform: uppercase;
	color: #ffffff;
}

.similar-collections {
	max-width: 427px;
	background: rgba(28, 29, 31, 0.5);
	border: 1px solid #2b2b2b;
	box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(10px);
	border-radius: 5px;
	&__box-title {
		padding: 20px;
		background-color: #212121;
		border: 1px solid #2b2b2b;
		border-radius: 5px 5px 0px 0px;
	}

	&__card {
		display: flex;
		padding: 1rem 0.5rem 1rem 1rem;
		width: 100%;
		border-bottom: 1px solid #2b2b2b;
		max-width: 427px;
	}

	&__img {
		width: 92px;
		height: 98px;
		align-self: center;
	}

	&__info {
		margin-left: 0.9375rem;
	}

	&__time {
		position: relative;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		color: var(--whiteColor);
		padding-left: 26px;
		margin-bottom: 11px;
		&::before {
			content: "";
			position: absolute;
			background-image: url("../img/clock.svg");
			background-repeat: no-repeat;
			width: 16px;
			height: 16px;
			top: 0;
			left: 0;
		}
		@media (max-width: 1725px) {
			font-size: 15px;
			line-height: 17px;
			margin-bottom: 6px;
		}
	}

	&__text {
		font-weight: 400;
		font-size: 20px;
		line-height: 23px;
		color: #ffffff;
		@media (max-width: 1825px) {
			font-size: 16px;
			line-height: 19px;
		}
	}
}

//--------------------- FILMS ---------------------//

.film {
	width: 100%;
	&__inner {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		gap: 2rem;
	}

	&_one {
		margin-bottom: 60px;
	}
}

.images-film {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	&__number {
		font-weight: 700;
		font-size: 5.4375rem;
		line-height: 102px;
		color: #727272;
		margin-bottom: -2.625rem;
		margin-left: 0.925rem;
	}

	&__img {
		max-width: 100%;
		margin-bottom: 23px;
	}

	&__rating-box {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 60px;
		background: rgba(28, 29, 31, 0.5);
		border: 1px solid #2b2b2b;
		box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.25);
		backdrop-filter: blur(10px);
		border-radius: 5px;
		padding: 8px 30px;
		margin-left: 18px;
	}

	&__rating span {
		font-weight: 700;
		font-size: 1.31px;
		line-height: 33px;
		color: #ffffff;
	}
}

.info-film {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 75px;
	&__title {
		font-weight: 500;
		font-size: 40px;
		line-height: 47px;
		color: #ffffff;
		margin-bottom: 16px;
	}

	&__sub-title {
		font-weight: 400;
		font-size: 33px;
		line-height: 35px;
		color: #ffffff;
		margin-bottom: 30px;
	}
	&__desc {
		width: 100%;
		display: flex;
		gap: 52px;
		align-items: center;
		justify-content: flex-start;
		padding: 1.25rem 3.875rem 1.25rem 1.5625rem;
		background: #212121;
		border: 1px solid #2b2b2b;
		border-radius: 5px;
		margin-bottom: 20px;
	}

	&__desc-title {
		margin-bottom: 0.625rem;
		font-weight: 700;
		font-size: 18px;
		line-height: 23px;
		color: #ffffff;
	}

	&__text {
		font-weight: 400;
		font-size: 1.125rem;
		line-height: 21px;
		color: #ffffff;
	}

	&__list {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		background: rgba(28, 29, 31, 0.5);
		border: 1px solid #2b2b2b;
		box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.25);
		backdrop-filter: blur(10px);
		border-radius: 5px;
		width: 100%;
		margin-bottom: 20px;
	}

	&__items {
		padding: 15px 20px 15px 20px;
		width: 100%;
		display: flex;
		border-bottom: 1px solid #2b2b2b;

		span {
			display: inline-block;
			font-weight: 700;
			font-size: 1.125rem;
			line-height: 21px;
			color: #ffffff;
			width: 200px;
			margin-right: 30px;
		}
		font-weight: 400;
		font-size: 18px;
		line-height: 21px;
		color: #ffffff;
	}
	&__link {
		font-weight: 400;
		font-size: 18px;
		line-height: 21px;
		text-decoration-line: underline;
		transition: all 0.3s ease-in-out;
		color: #ffffff;
		margin-right: 10px;
		&:last-child {
			margin-right: 0px;
		}
		&:hover {
			color: var(--blueColor);
			text-decoration: underline;
		}
	}
}

.what-about {
	width: 100%;
	padding: 20px;
	background: rgba(28, 29, 31, 0.5);
	border: 1px solid #2b2b2b;
	box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(10px);
	border-radius: 5px;
	&__title {
		font-weight: 500;
		font-size: 22px;
		line-height: 26px;
		color: #ffffff;
		margin-bottom: 15px;
	}

	&__text {
		font-weight: 400;
		font-size: 18px;
		line-height: 21px;
		color: #ffffff;
		margin-bottom: 25px;
	}

	&__box-more {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	&__more {
		font-weight: 400;
		font-size: 18px;
		line-height: 21px;
		text-decoration-line: underline;
		color: var(--blueColor);
		background-color: transparent;
	}
}

.what-about__text-more {
	display: none;
}

.what-about__text-more.text-active {
	display: inline-block;
}

.popullar-collections {
	width: 100%;
	&__inner {
		max-width: 425px;
	}

	&__slide {
		display: flex;
		justify-content: center;
		flex-direction: column;
		background-image: url("../img/aside-slider.png");
		background-repeat: no-repeat;
		background-position: center;
		max-width: 425px;
	}

	&__slide-title {
		font-weight: 500;
		font-size: 36px;
		line-height: 45px;
		text-transform: uppercase;
		color: #ffffff;
		margin-bottom: 20px;
	}

	&__link {
		font-weight: 500;
		font-size: 18px;
		line-height: 21px;
		text-align: center;
		color: #ffffff;
		background: #81becb;
		border-radius: 57px;
		padding: 13px 32px;
		width: 148px;
	}
}
