:root {
	--darkColor: #1e1e1e;
	--blueColor: #81becb;
	--yellowColor: #d59f31;
	--orangeColor: #e16001;
	--grayColor: #a8a8a8;
	--whiteColor: #A4A4A4;
}

.global-title {
	font-weight: 500;
	font-size: 40px;
	line-height: 47px;
	color: #ffffff;
}
