:root {
	--headerColor: #1E2329;
	--darkColor: #1E1E1E;
	--blueColor: #2196F3;
	--grayColor: #474D57;
	--whiteColor: #FBFBFB;
}

.global-title {
	font-weight: 500;
	font-size: 40px;
	line-height: 47px;
	color: #ffffff;
}
